<div>
  <h1 class="title">Furniture Delivery</h1>

  <img src="assets/images/truck.png" alt="truck">

  <div id="furniture">
    <h3 class="title">Furniture Orders:</h3>
    {{#each furniture}}
      {{#unless this.delivered}}
        <p>{{this.furn_name}}
        <button class="devButton" id="{{this.id}}">Deliver Item</button>
        </p>
      {{/unless}}
    {{/each}}
  </div>

  <div id="delivered">
    <h3 class="title">Order Delivered:</h3>
      {{#each furniture}}
        {{#if this.delivered}}
          <p>{{this.furn_name}}</p>
        {{/if}}
      {{/each}}
  </div>

  <div id="form">
    <h2 class="title">Add an Order</h2>
    <form class="create-form">
      <div class="form-group">
        <label for="furnitureName">Furniture Item: </label>
        <input type="text" id="furnitureName" name="name">
        <button type="submit">Add Order</button>
      </div>
    </form>
  </div>

</div>